{% extends "ankiety/base.html" %}
{% block content %}
    <a href="{% url 'home' %}">Strona główna</a>
    <h1>Utwórz ankietę</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="title">Nazwa ankiety</label>
            <input type="text" id="title" name="title">
            <label for="description">Opis</label>
            <input type="text" id="description" name="description">
        </div>
        <hr>
        <div>
            <button type="button" id="create_r">Jednokrotny wybór</button>
            <button type="button"  id="create_c">Wielokrotny wybór</button>
            <button type="button"  id="create_t">Pole tesktowe</button>
            <button type="button"  id="create_n">Pole liczbowe</button>
            <button type="button"  id="create_s">Suwak</button>
        </div>
        <hr>
        <div id="polls"></div>
        <input type="submit" value="Utwórz ankietę">
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const polls = document.getElementById("polls")
            let globalCount = 0;
            const nameDescription = "Krótka nazwa"
            const headerDescription = "Twoje pytanie"

            const createR = () => {
                console.log("CreateR")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "r-" + localCount

                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                const pollFileds = document.createElement("div")
                newPoll.appendChild(pollFileds)

                const headerLabel = document.createElement("label")
                headerLabel.for = idPoll
                const headerLabelContent = document.createTextNode("Pytanie: ")
                headerLabel.appendChild(headerLabelContent)
                pollFileds.appendChild(headerLabel)

                const headerInput = document.createElement("input")
                headerInput.type = "text"
                headerInput.name = idPoll
                headerInput.id = idPoll
                headerInput.placeholder = headerDescription
                pollFileds.appendChild(headerInput)

                {# Name input START #}
                const idFieldName = idPoll + "-" + fieldCount
                const nameLabel = document.createElement("label")
                nameLabel.for = idFieldName
                const nameLabelContent = document.createTextNode("Nazwa: ")
                nameLabel.appendChild(nameLabelContent)
                pollFileds.appendChild(nameLabel)

                const nameInput = document.createElement("input")
                nameInput.type = "text"
                nameInput.name = idPoll
                nameInput.id = idFieldName
                nameInput.placeholder = nameDescription
                pollFileds.appendChild(nameInput)
                fieldCount += 1
                {# Name input START END #}

                {# Two default created fields #}
                for (let i = 0; i < 2; i++) {
                    const idField = idPoll + "-" + fieldCount

                    const fieldLabel = document.createElement("label")
                    fieldLabel.setAttribute("for", idField)
                    const fieldLabelContent = document.createTextNode("Opcja:")
                    fieldLabel.appendChild(fieldLabelContent)
                    pollFileds.appendChild(fieldLabel)

                    const fieldInput = document.createElement("input")
                    fieldInput.type = "text"
                    fieldInput.name = idPoll
                    fieldInput.id = idField
                    fieldInput.placeholder = "Opis pola"
                    pollFileds.appendChild(fieldInput)

                    fieldCount += 1
                }

                const addFieldButton = document.createElement("button")
                newPoll.prepend(addFieldButton)
                const addFieldButtonContent = document.createTextNode("Dodaj pole")
                addFieldButton.appendChild(addFieldButtonContent)
                addFieldButton.type = "button"
                addFieldButton.addEventListener("click", () => {
                    const idField = idPoll + "-" + fieldCount

                    const fieldLabel = document.createElement("label")
                    pollFileds.appendChild(fieldLabel)
                    fieldLabel.setAttribute("for", idField)
                    const fieldLabelContent = document.createTextNode("Opcja:")
                    fieldLabel.appendChild(fieldLabelContent)


                    const fieldInput = document.createElement("input")
                    pollFileds.appendChild(fieldInput)
                    fieldInput.type = "text"
                    fieldInput.name = idPoll
                    fieldInput.id = idField
                    fieldInput.placeholder = "Opis pola"

                    const removeFieldButton = document.createElement("button")
                    pollFileds.appendChild(removeFieldButton)
                    removeFieldButton.type = "button"
                    const removeFieldButtonContent = document.createTextNode("-")
                    removeFieldButton.appendChild(removeFieldButtonContent)
                    removeFieldButton.addEventListener("click", () => {
                        fieldLabel.remove()
                        fieldInput.remove()
                        removeFieldButton.remove()
                    })

                    fieldCount += 1
                })

                const removePollButton = document.createElement("button")
                newPoll.prepend(removePollButton)
                removePollButton.type = "button"
                const removePollButtonContent = document.createTextNode("X")
                removePollButton.appendChild(removePollButtonContent)
                removePollButton.addEventListener("click", () => {
                    newPoll.remove()
                })

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createC = () => {
                console.log("CreateC")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "c-" + localCount

                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                const pollFileds = document.createElement("div")
                newPoll.appendChild(pollFileds)

                const headerLabel = document.createElement("label")
                headerLabel.for = idPoll
                const headerLabelContent = document.createTextNode("Pytanie: ")
                headerLabel.appendChild(headerLabelContent)
                pollFileds.appendChild(headerLabel)

                const headerInput = document.createElement("input")
                headerInput.type = "text"
                headerInput.name = idPoll
                headerInput.id = idPoll
                headerInput.placeholder = headerDescription
                pollFileds.appendChild(headerInput)

                {# Name input START #}
                const idFieldName = idPoll + "-" + fieldCount
                const nameLabel = document.createElement("label")
                nameLabel.for = idFieldName
                const nameLabelContent = document.createTextNode("Nazwa: ")
                nameLabel.appendChild(nameLabelContent)
                pollFileds.appendChild(nameLabel)

                const nameInput = document.createElement("input")
                nameInput.type = "text"
                nameInput.name = idPoll
                nameInput.id = idFieldName
                nameInput.placeholder = nameDescription
                pollFileds.appendChild(nameInput)
                fieldCount += 1
                {# Name input START END #}

                {# One default created field START #}
                const idField = idPoll + "-" + fieldCount

                const fieldLabel = document.createElement("label")
                fieldLabel.setAttribute("for", idField)
                const fieldLabelContent = document.createTextNode("Opcja:")
                fieldLabel.appendChild(fieldLabelContent)
                pollFileds.appendChild(fieldLabel)

                const fieldInput = document.createElement("input")
                fieldInput.type = "text"
                fieldInput.name = idPoll
                fieldInput.id = idField
                fieldInput.placeholder = "Opis pola"
                pollFileds.appendChild(fieldInput)

                fieldCount += 1
                {# One default created field END #}

                const addFieldButton = document.createElement("button")
                newPoll.prepend(addFieldButton)
                const addFieldButtonContent = document.createTextNode("Dodaj pole")
                addFieldButton.appendChild(addFieldButtonContent)
                addFieldButton.type = "button"
                addFieldButton.addEventListener("click", () => {
                    const idField = idPoll + "-" + fieldCount

                    const fieldLabel = document.createElement("label")
                    pollFileds.appendChild(fieldLabel)
                    fieldLabel.setAttribute("for", idField)
                    const fieldLabelContent = document.createTextNode("Opcja:")
                    fieldLabel.appendChild(fieldLabelContent)


                    const fieldInput = document.createElement("input")
                    pollFileds.appendChild(fieldInput)
                    fieldInput.type = "text"
                    fieldInput.name = idPoll
                    fieldInput.id = idField
                    fieldInput.placeholder = "Opis pola"

                    const removeFieldButton = document.createElement("button")
                    pollFileds.appendChild(removeFieldButton)
                    removeFieldButton.type = "button"
                    const removeFieldButtonContent = document.createTextNode("-")
                    removeFieldButton.appendChild(removeFieldButtonContent)
                    removeFieldButton.addEventListener("click", () => {
                        fieldLabel.remove()
                        fieldInput.remove()
                        removeFieldButton.remove()
                    })

                    fieldCount += 1
                })

                const removePollButton = document.createElement("button")
                newPoll.prepend(removePollButton)
                removePollButton.type = "button"
                const removePollButtonContent = document.createTextNode("X")
                removePollButton.appendChild(removePollButtonContent)
                removePollButton.addEventListener("click", () => {
                    newPoll.remove()
                })

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createT = () => {
                console.log("CreateT")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "t-" + localCount

                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                const pollFileds = document.createElement("div")
                newPoll.appendChild(pollFileds)

                const headerLabel = document.createElement("label")
                headerLabel.for = idPoll
                const headerLabelContent = document.createTextNode("Pytanie: ")
                headerLabel.appendChild(headerLabelContent)
                pollFileds.appendChild(headerLabel)

                const headerInput = document.createElement("input")
                headerInput.type = "text"
                headerInput.name = idPoll
                headerInput.id = idPoll
                headerInput.placeholder = headerDescription
                pollFileds.appendChild(headerInput)

                {# Name input START #}
                const idFieldName = idPoll + "-" + fieldCount
                const nameLabel = document.createElement("label")
                nameLabel.for = idFieldName
                const nameLabelContent = document.createTextNode("Nazwa: ")
                nameLabel.appendChild(nameLabelContent)
                pollFileds.appendChild(nameLabel)

                const nameInput = document.createElement("input")
                nameInput.type = "text"
                nameInput.name = idPoll
                nameInput.id = idFieldName
                nameInput.placeholder = nameDescription
                pollFileds.appendChild(nameInput)
                fieldCount += 1
                {# Name input START END #}

                {# Placeholder input START #}
                const idFieldPlaceholder = idPoll + "-" + fieldCount
                const placeholderLabel = document.createElement("label")
                placeholderLabel.for = idFieldPlaceholder
                const placeholderLabelContent = document.createTextNode("Placeholder: ")
                placeholderLabel.appendChild(placeholderLabelContent)
                pollFileds.appendChild(placeholderLabel)

                const placeholderInput = document.createElement("input")
                placeholderInput.type = "text"
                placeholderInput.name = idPoll
                placeholderInput.id = idFieldPlaceholder
                pollFileds.appendChild(placeholderInput)
                {#fieldCount += 1#}
                {# Placeholder input START END #}

                const removePollButton = document.createElement("button")
                newPoll.prepend(removePollButton)
                removePollButton.type = "button"
                const removePollButtonContent = document.createTextNode("X")
                removePollButton.appendChild(removePollButtonContent)
                removePollButton.addEventListener("click", () => {
                    newPoll.remove()
                })

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createN = () => {
                console.log("CreateN")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "n-" + localCount

                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                const pollFileds = document.createElement("div")
                newPoll.appendChild(pollFileds)

                const headerLabel = document.createElement("label")
                headerLabel.for = idPoll
                const headerLabelContent = document.createTextNode("Pytanie: ")
                headerLabel.appendChild(headerLabelContent)
                pollFileds.appendChild(headerLabel)

                const headerInput = document.createElement("input")
                headerInput.type = "text"
                headerInput.name = idPoll
                headerInput.id = idPoll
                headerInput.placeholder = headerDescription
                pollFileds.appendChild(headerInput)

                {# Name input START #}
                const idFieldName = idPoll + "-" + fieldCount
                const nameLabel = document.createElement("label")
                nameLabel.for = idFieldName
                const nameLabelContent = document.createTextNode("Nazwa: ")
                nameLabel.appendChild(nameLabelContent)
                pollFileds.appendChild(nameLabel)

                const nameInput = document.createElement("input")
                nameInput.type = "text"
                nameInput.name = idPoll
                nameInput.id = idFieldName
                nameInput.placeholder = nameDescription
                pollFileds.appendChild(nameInput)
                fieldCount += 1
                {# Name input START END #}

                {# Placeholder input START #}
                const idFieldPlaceholder = idPoll + "-" + fieldCount
                const placeholderLabel = document.createElement("label")
                placeholderLabel.for = idFieldPlaceholder
                const placeholderLabelContent = document.createTextNode("Placeholder: ")
                placeholderLabel.appendChild(placeholderLabelContent)
                pollFileds.appendChild(placeholderLabel)

                const placeholderInput = document.createElement("input")
                placeholderInput.type = "text"
                placeholderInput.name = idPoll
                placeholderInput.id = idFieldPlaceholder
                pollFileds.appendChild(placeholderInput)
                {#fieldCount += 1#}
                {# Placeholder input START END #}

                const removePollButton = document.createElement("button")
                newPoll.prepend(removePollButton)
                removePollButton.type = "button"
                const removePollButtonContent = document.createTextNode("X")
                removePollButton.appendChild(removePollButtonContent)
                removePollButton.addEventListener("click", () => {
                    newPoll.remove()
                })

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createS = () => {
                console.log("CreateS")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "s-" + localCount

                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                const pollFileds = document.createElement("div")
                newPoll.appendChild(pollFileds)

                const headerLabel = document.createElement("label")
                headerLabel.for = idPoll
                const headerLabelContent = document.createTextNode("Pytanie: ")
                headerLabel.appendChild(headerLabelContent)
                pollFileds.appendChild(headerLabel)

                const headerInput = document.createElement("input")
                headerInput.type = "text"
                headerInput.name = idPoll
                headerInput.id = idPoll
                headerInput.placeholder = headerDescription
                pollFileds.appendChild(headerInput)

                {# Name input START #}
                const idFieldName = idPoll + "-" + fieldCount
                const nameLabel = document.createElement("label")
                nameLabel.for = idFieldName
                const nameLabelContent = document.createTextNode("Nazwa: ")
                nameLabel.appendChild(nameLabelContent)
                pollFileds.appendChild(nameLabel)

                const nameInput = document.createElement("input")
                nameInput.type = "text"
                nameInput.name = idPoll
                nameInput.id = idFieldName
                nameInput.placeholder = nameDescription
                pollFileds.appendChild(nameInput)
                fieldCount += 1
                {# Name input START END #}

                const idFieldMin = idPoll + "-" + fieldCount
                const minLabel = document.createElement("label")
                minLabel.for = idFieldMin
                const minLabelContent = document.createTextNode("Minimalnalna wartość: ")
                minLabel.appendChild(minLabelContent)
                pollFileds.appendChild(minLabel)

                const minInput = document.createElement("input")
                minInput.type = "number"
                minInput.name = idPoll
                minInput.id = idFieldMin
                pollFileds.appendChild(minInput)

                fieldCount += 1
                const idFieldMax = idPoll + "-" + fieldCount
                const maxLabel = document.createElement("label")
                maxLabel.for = idFieldMax
                const maxLabelContent = document.createTextNode("Maksymalna wartość: ")
                maxLabel.appendChild(maxLabelContent)
                pollFileds.appendChild(maxLabel)

                const maxInput = document.createElement("input")
                maxInput.type = "number"
                maxInput.name = idPoll
                maxInput.id = idFieldMax
                pollFileds.appendChild(maxInput)

                const removePollButton = document.createElement("button")
                newPoll.prepend(removePollButton)
                removePollButton.type = "button"
                const removePollButtonContent = document.createTextNode("X")
                removePollButton.appendChild(removePollButtonContent)
                removePollButton.addEventListener("click", () => {
                    newPoll.remove()
                })

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            document.getElementById("create_r").addEventListener('click', createR)
            document.getElementById("create_c").addEventListener('click', createC)
            document.getElementById("create_t").addEventListener('click', createT)
            document.getElementById("create_n").addEventListener('click', createN)
            document.getElementById("create_s").addEventListener('click', createS)
        })
    </script>
{% endblock content %}