{% extends "ankiety/base.html" %}
{% block content %}
<div class="wrapper">
    <nav class="hero-nav">
        <a href="{% url 'create_poll' %}" class="button-lg button-focus">Create poll</a>
    </nav>
    <main>
        <h1 class="hero-logo"><span class="text-dark">Ankieto</span>poll</h1>
        <form method="POST" class="hero-form">
            {% csrf_token %}
            <label for="poll_code">Enter code and complete survey</label>
            <div>
                <input type="text" name="poll_code" id="poll_code" placeholder="_ _ _ _ _ _ _ _" required>
                <button type="submit"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </form>
        <nav class="hero-links">
            <a href="{% url 'create_poll' %}">Or <span class="text-red">make Your Own</span></a>
            <a href="#">Explore the possibilities</a>
        </nav>
        <section class="hero-public-polls">
            <h1>Recently added public polls</h1>
            {% for poll in public_polls %}
            <a href="{% url 'poll' poll.id_form %}">
                <article>
                    <h1>{{ poll.title }}</h1>
                    <p>Username</p>
                </article>
            </a>
            {% endfor %}
        </section>
        <div class="text-center">
            <a class="button-md" href="{% url 'poll_search'%}">Find more surveys</a>
        </div>
        <footer class="hero-footer">
            <h1>Some Dev Stuff</h1>
            {% if request.user.is_authenticated %}
            <p>{{request.user}}</p>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
            <a href="{% url 'create_poll' %}">Poll creator</a>
            <a href="{% url 'user_panel'%}"> Manage Your Account</a>
            <a href="{%url 'register'%}"> Register account</a>
        </footer>
    </main>
</div>
{% endblock content %}
