{% extends "ankiety/base.html" %}
{% block content %}
    {% load static %}
    <a href="{% url 'home' %}" class="static-logo">
        <img src="{% static 'ankiety/assets/icon.svg' %}"/>
        <h1><span class="text-dark">Ankieto</span>poll</h1>
    </a>
    <main class="wrapper flex-center">
        <form method="POST" class="card form">
            {% csrf_token %}
            <h1>Welcome back!</h1>
            <div class="input-group-sign">
                <label for="username">Username</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div class="input-group-sign">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"/>
            </div>
            {% for message in messages %}
                <p class="form-error-message">{{ message }}</p>
            {% endfor %}
            <div class="form-buttons">
                <button type="submit" class="button-md button-focus">SignIn</button>
                <a class="button-md button-outline" href="{% url 'register' %}">Create an account</a>
            </div>
        </form>
    </main>
{% endblock content %}
