{% extends "ankiety/base.html" %}
{% block content %}
{% load static %}
    <a href="{% url 'home' %}" class="static-logo">
      <img src="{% static 'ankiety/assets/icon.svg' %}" />
      <h1><span class="text-dark">Ankieto</span>poll</h1>
    </a>
    <main class="wrapper flex-center">
    <div class="text-center">
        <img src="{% static 'ankiety/assets/icon.svg' %}" style="width: 120px;" />
        <h1 style="font-weight: 400; margin: 24px 0;">Thank you for completing the survey</h1>
        <a href="{% url 'home' %}" class="button-md mt-20">Homepage</a>
    </div>
    </main>
{% endblock content %}
