{% extends "ankiety/base.html" %}
{% block content %}
{% load static %}
    <div class="wrapper">
    <a href="{% url 'home' %}" class="logo">
      <img src="{% static 'ankiety/assets/icon.svg' %}" />
      <h1><span class="text-dark">Ankieto</span>poll</h1>
    </a>
    <div class="menu-buttons">
        <a href="{% url 'user_panel' %}" class="button-md">Exit</a>
    </div>
    <form method="POST" class="container">
        {% csrf_token %}
        <div class="card field-spacing">
            <label for="title" class="hidden" >Title of the survey</label>
            <input required type="text" id="title" name="title" placeholder="Title of the survey" class="field-md">
            <label for="description" class="hidden">Description</label>
            <input required type="text" id="description" name="description" placeholder="Description" class="field-sm">
            <hr class="hr20">
            <p class="w-full">Select when the survey should be closed</p>
            <div class="flex">
                <button type="button" id="showDontCloseBtn" class="button-sm">Don't close automatically</button>
                <button type="button" id="showDateBtn" class="button-sm">Select a date</button>
                <button type="button" id="showCountBtn" class="button-sm">Enter number of people</button>
                <div id="endConditionForm">

                </div>
            </div>
            <hr class="hr20">
            <div class="w-full">
                <input type="checkbox" id="publicCheckbox" placeholder="Make public">
                <label for="publicCheckbox" title="Decide if you want your survey to be displayed in our search engine">Make public</label>
                <input type="number" id="public" name="public" value="0" hidden>
            </div>
        </div>
        <div id="polls" class="w-full">

        </div>
        <div class="card menu-buttons">
            <button type="button" id="create_r" class="button-md">Single choice</button>
            <button type="button" id="create_c" class="button-md">Multiple choice</button>
            <button type="button" id="create_t" class="button-md">Text field</button>
            <button type="button" id="create_n" class="button-md">Numerical field</button>
            <button type="button" id="create_s" class="button-md">Range slider</button>
            <button type="submit" class="button-md button-focus">Create Poll</button>
        </div>
    </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const polls = document.getElementById("polls")
            let globalCount = 0;
            const nameDescription = "Question ID (short name)"
            const headerDescription = "Content of the question"
            const optionDescription = "Field description"
            const requiredContent = " Required"
            const maxValueContent = "Max value"
            const minValueContent = "Min value"
            const placeholderContent = "Placeholder"

            const createField = (id, name, inputType, labelText, placeholder, checkbox) => {
                const div = document.createElement("div")
                div.classList.add("w-full")

                const label = document.createElement("label")
                label.setAttribute("for", id)
                const labelContent = document.createTextNode(labelText)
                label.appendChild(labelContent)


                const input = document.createElement("input")
                input.type = inputType
                input.name = name
                input.id = id


                if (placeholder !== "")
                    input.placeholder = placeholder
                div.appendChild(input)

                if (checkbox) {
                    div.appendChild(input)
                    div.appendChild(label)
                } else {
                    label.classList.add("hidden")
                    input.classList.add("field-sm")
                    input.setAttribute("required", "")
                    div.appendChild(label)
                    div.appendChild(input)
                }

                return div;
            }

            const createHiddenRequiredField = (name) => {
                const input = document.createElement("input")
                input.hidden = true
                input.type = "number"
                input.valueAsNumber = 0
                input.name = name
                return input
            }

            const addDelBtnToField = (element) => {
                const removeFieldButton = document.createElement("button")
                removeFieldButton.type = "button"
                removeFieldButton.classList.add("button-sm")
                const removeFieldButtonContent = document.createTextNode("-")
                removeFieldButton.appendChild(removeFieldButtonContent)
                removeFieldButton.addEventListener("click", () => element.remove())
                element.appendChild(removeFieldButton)
            }

            const createButton = (type, text) => {
                const button = document.createElement("button")
                const buttonContent = document.createTextNode(text)
                button.appendChild(buttonContent)
                button.type = type
                return button
            }

            const createR = () => {
                console.log("CreateR")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "r-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                newPoll.classList.add("card")
                newPoll.classList.add("field-spacing")
                polls.appendChild(newPoll)

                {# Poll Header #}
                const pollHeader = document.createElement("p")
                const pollHeaderContent = document.createTextNode("SINGLE CHOICE")
                pollHeader.classList.add("poll-header")
                pollHeader.appendChild(pollHeaderContent)
                newPoll.appendChild(pollHeader)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                pollFields.classList.add("w-full")
                pollFields.classList.add("field-spacing")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# Two Default Created Option Fields #}
                for (let i = 0; i < 2; i++) {
                    const idField = idPoll + "-" + fieldCount
                    const fieldOption = createField(idField, idPoll, "text", optionDescription, optionDescription)
                    pollFields.appendChild(fieldOption)
                    fieldCount += 1
                }

                {# Add More Option Fields Button #}
                const addFieldButton = createButton("button", "+")
                addFieldButton.classList.add("button-sm")
                newPoll.appendChild(addFieldButton)
                addFieldButton.addEventListener("click", () => {
                    const idField = idPoll + "-" + fieldCount
                    const optionField = createField(idField, idPoll, "text", optionDescription, optionDescription)
                    addDelBtnToField(optionField)
                    pollFields.appendChild(optionField)
                    fieldCount += 1
                })

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                removePollButton.classList.add("button-sm")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "", true)
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1
                globalCount += 1
            }

            const createC = () => {
                console.log("CreateC")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "c-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                newPoll.classList.add("card")
                newPoll.classList.add("field-spacing")
                polls.appendChild(newPoll)

                {# Poll Header #}
                const pollHeader = document.createElement("p")
                const pollHeaderContent = document.createTextNode("MULTIPLE CHOICE")
                pollHeader.classList.add("poll-header")
                pollHeader.appendChild(pollHeaderContent)
                newPoll.appendChild(pollHeader)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                pollFields.classList.add("w-full")
                pollFields.classList.add("field-spacing")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# One Default Option Field #}
                const idField = idPoll + "-" + fieldCount
                const fieldOption = createField(idField, idPoll, "text", optionDescription, optionDescription)
                pollFields.appendChild(fieldOption)
                fieldCount += 1

                {# Add More Option Fields Button #}
                const addFieldButton = createButton("button", "+")
                addFieldButton.classList.add("button-sm")
                newPoll.appendChild(addFieldButton)
                addFieldButton.addEventListener("click", () => {
                    const idField = idPoll + "-" + fieldCount
                    const optionField = createField(idField, idPoll, "text", optionDescription, optionDescription)
                    addDelBtnToField(optionField)
                    pollFields.appendChild(optionField)
                    fieldCount += 1
                })

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                removePollButton.classList.add("button-sm")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "", true)
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1
                globalCount += 1
            }

            const createT = () => {
                console.log("CreateT")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "t-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                newPoll.classList.add("card")
                newPoll.classList.add("field-spacing")
                polls.appendChild(newPoll)

                {# Poll Header #}
                const pollHeader = document.createElement("p")
                const pollHeaderContent = document.createTextNode("TEXT FIELD")
                pollHeader.classList.add("poll-header")
                pollHeader.appendChild(pollHeaderContent)
                newPoll.appendChild(pollHeader)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                pollFields.classList.add("w-full")
                pollFields.classList.add("field-spacing")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# Placeholder Input #}
                const idFieldPlaceholder = idPoll + "-" + fieldCount
                const fieldPlaceholder = createField(idFieldPlaceholder, idPoll, "text", placeholderContent, placeholderContent)
                fieldCount += 1
                pollFields.appendChild(fieldPlaceholder)

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                removePollButton.classList.add("button-sm")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "", true)
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createN = () => {
                console.log("CreateN")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "n-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                newPoll.classList.add("card")
                newPoll.classList.add("field-spacing")
                polls.appendChild(newPoll)

                {# Poll Header #}
                const pollHeader = document.createElement("p")
                const pollHeaderContent = document.createTextNode("NUMERICAL FIELD")
                pollHeader.classList.add("poll-header")
                pollHeader.appendChild(pollHeaderContent)
                newPoll.appendChild(pollHeader)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                pollFields.classList.add("w-full")
                pollFields.classList.add("field-spacing")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# Placeholder Input #}
                {#const idFieldPlaceholder = idPoll + "-" + fieldCount#}
                {#const fieldPlaceholder = createField(idFieldPlaceholder, idPoll, "text", placeholderContent, placeholderContent)#}
                {#fieldCount += 1#}
                {#pollFields.appendChild(fieldPlaceholder)#}

                {# Min Field #}
                const idFieldMin = idPoll + "-" + fieldCount
                const fieldMin = createField(idFieldMin, idPoll, "text", minValueContent, minValueContent)
                fieldCount += 1
                pollFields.appendChild(fieldMin)

                {# Max Field #}
                const idFieldMax = idPoll + "-" + fieldCount
                const fieldMax = createField(idFieldMax, idPoll, "text", maxValueContent, maxValueContent)
                fieldCount += 1
                pollFields.appendChild(fieldMax)

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                removePollButton.classList.add("button-sm")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "", true)
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1
                globalCount += 1
            }

            const createS = () => {
                console.log("CreateS")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "s-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                newPoll.classList.add("card")
                newPoll.classList.add("field-spacing")
                polls.appendChild(newPoll)

                {# Poll Header #}
                const pollHeader = document.createElement("p")
                const pollHeaderContent = document.createTextNode("RANGE SLIDER")
                pollHeader.classList.add("poll-header")
                pollHeader.appendChild(pollHeaderContent)
                newPoll.appendChild(pollHeader)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                pollFields.classList.add("w-full")
                pollFields.classList.add("field-spacing")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# Min Field #}
                const idFieldMin = idPoll + "-" + fieldCount
                const fieldMin = createField(idFieldMin, idPoll, "text", minValueContent, minValueContent)
                fieldCount += 1
                pollFields.appendChild(fieldMin)

                {# Max Field #}
                const idFieldMax = idPoll + "-" + fieldCount
                const fieldMax = createField(idFieldMax, idPoll, "text", maxValueContent, maxValueContent)
                fieldCount += 1
                pollFields.appendChild(fieldMax)

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                removePollButton.classList.add("button-sm")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "", true)
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1
                globalCount += 1
            }

            const showDateBtn = document.getElementById("showDateBtn")
            const showDontCloseBtn = document.getElementById("showDontCloseBtn")
            const showCountBtn = document.getElementById("showCountBtn")
            const endConditionForm = document.getElementById("endConditionForm")

            showDateBtn.addEventListener("click", () => {
                showDateBtn.disabled = true
                showCountBtn.disabled = false
                showDontCloseBtn.disabled = false
                const dateField = createField("end_condition", "end_condition", "date", "Specify the date of completion:", "", false)
                endConditionForm.removeChild(endConditionForm.lastChild)
                endConditionForm.appendChild(dateField)
                document.getElementById("endConditionForm").appendChild(dateField)
            })

            showCountBtn.addEventListener("click", () => {
                showCountBtn.disabled = true
                showDateBtn.disabled = false
                showDontCloseBtn.disabled = false
                const countField = createField("end_condition", "end_condition", "number", "Enter the number of people:", "", false)
                endConditionForm.removeChild(endConditionForm.lastChild)
                endConditionForm.appendChild(countField)
                document.getElementById("endConditionForm").appendChild(countField)
            })

            showDontCloseBtn.addEventListener("click", () => {
                showCountBtn.disabled = false
                showDateBtn.disabled = false
                showDontCloseBtn.disabled = true
                const countField = createField("end_condition", "end_condition", "text", "", "", true)
                countField.hidden = true
                countField.value = "none"
                endConditionForm.removeChild(endConditionForm.lastChild)
                endConditionForm.appendChild(countField)
                document.getElementById("endConditionForm").appendChild(countField)
            })

            document.getElementById("create_r").addEventListener('click', createR)
            document.getElementById("create_c").addEventListener('click', createC)
            document.getElementById("create_t").addEventListener('click', createT)
            document.getElementById("create_n").addEventListener('click', createN)
            document.getElementById("create_s").addEventListener('click', createS)

            document.getElementById("publicCheckbox").addEventListener("change", e => {
                    if (e.target.checked)
                        document.getElementById("public").valueAsNumber = 1
                    else
                         document.getElementById("public").valueAsNumber = 0
                })

            showDontCloseBtn.click()
        })
    </script>
{% endblock content %}