{% extends "ankiety/base.html" %}
{% block content %}
    <a href="{% url 'home' %}">Back</a>
    <h1>Create poll</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="title">Title of the survey</label>
            <input type="text" id="title" name="title" placeholder="Title of the survey">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="Description">
        </div>
        <hr>
        <div id="endConditionForm">
            <p>Select when the survey should be completed</p>
            <button type="button" id="showDateBtn">Select a date</button>
            <button type="button" id="showCountBtn">Enter number of people</button>
        </div>
        <hr>
        <div>
            <button type="button" id="create_r">Single choice</button>
            <button type="button" id="create_c">Multiple choice</button>
            <button type="button" id="create_t">Text field</button>
            <button type="button" id="create_n">Numerical field</button>
            <button type="button" id="create_s">Range slider</button>
        </div>
        <hr>
        <div id="polls"></div>
        <input type="submit" value="Create poll">
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const polls = document.getElementById("polls")
            let globalCount = 0;
            const nameDescription = "Question ID (short name)"
            const headerDescription = "Content of the question"
            const optionDescription = "Field description"
            const requiredContent = "Required"
            const maxValueContent = "Max value"
            const minValueContent = "Min value"
            const placeholderContent = "Placeholder"

            const createField = (id, name, inputType, labelText, placeholder) => {
                const div = document.createElement("div")

                const label = document.createElement("label")
                label.setAttribute("for", id)
                const labelContent = document.createTextNode(labelText)
                label.appendChild(labelContent)
                div.appendChild(label)

                const input = document.createElement("input")
                input.type = inputType
                input.name = name
                input.id = id
                if (placeholder !== "")
                    input.placeholder = placeholder
                div.appendChild(input)

                return div;
            }

            const createHiddenRequiredField = (name) => {
                const input = document.createElement("input")
                input.hidden = true
                input.type = "number"
                input.valueAsNumber = 0
                input.name = name
                return input
            }

            const addDelBtnToField = (element) => {
                const removeFieldButton = document.createElement("button")
                removeFieldButton.type = "button"
                const removeFieldButtonContent = document.createTextNode("-")
                removeFieldButton.appendChild(removeFieldButtonContent)
                removeFieldButton.addEventListener("click", () => element.remove())
                element.appendChild(removeFieldButton)
            }

            const createButton = (type, text) => {
                const button = document.createElement("button")
                const buttonContent = document.createTextNode(text)
                button.appendChild(buttonContent)
                button.type = type
                return button
            }

            const createR = () => {
                console.log("CreateR")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "r-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# Two Default Created Option Fields #}
                for (let i = 0; i < 2; i++) {
                    const idField = idPoll + "-" + fieldCount
                    const fieldOption = createField(idField, idPoll, "text", optionDescription, optionDescription)
                    pollFields.appendChild(fieldOption)
                    fieldCount += 1
                }

                {# Add More Option Fields Button #}
                const addFieldButton = createButton("button", "+")
                newPoll.appendChild(addFieldButton)
                addFieldButton.addEventListener("click", () => {
                    const idField = idPoll + "-" + fieldCount
                    const optionField = createField(idField, idPoll, "text", optionDescription, optionDescription)
                    addDelBtnToField(optionField)
                    pollFields.appendChild(optionField)
                    fieldCount += 1
                })

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "")
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createC = () => {
                console.log("CreateC")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "c-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# One Default Option Field #}
                const idField = idPoll + "-" + fieldCount
                const fieldOption = createField(idField, idPoll, "text", optionDescription, optionDescription)
                pollFields.appendChild(fieldOption)
                fieldCount += 1

                {# Add More Option Fields Button #}
                const addFieldButton = createButton("button", "+")
                newPoll.appendChild(addFieldButton)
                addFieldButton.addEventListener("click", () => {
                    const idField = idPoll + "-" + fieldCount
                    const optionField = createField(idField, idPoll, "text", optionDescription, optionDescription)
                    addDelBtnToField(optionField)
                    pollFields.appendChild(optionField)
                    fieldCount += 1
                })

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "")
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createT = () => {
                console.log("CreateT")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "t-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# Placeholder Input #}
                const idFieldPlaceholder = idPoll + "-" + fieldCount
                const fieldPlaceholder = createField(idFieldPlaceholder, idPoll, "text", placeholderContent, placeholderContent)
                fieldCount += 1
                pollFields.appendChild(fieldPlaceholder)

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "")
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createN = () => {
                console.log("CreateN")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "n-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# Placeholder Input #}
                {#const idFieldPlaceholder = idPoll + "-" + fieldCount#}
                {#const fieldPlaceholder = createField(idFieldPlaceholder, idPoll, "text", placeholderContent, placeholderContent)#}
                {#fieldCount += 1#}
                {#pollFields.appendChild(fieldPlaceholder)#}

                {# Min Field #}
                const idFieldMin = idPoll + "-" + fieldCount
                const fieldMin = createField(idFieldMin, idPoll, "text", minValueContent, minValueContent)
                fieldCount += 1
                pollFields.appendChild(fieldMin)

                {# Max Field #}
                const idFieldMax = idPoll + "-" + fieldCount
                const fieldMax = createField(idFieldMax, idPoll, "text", maxValueContent, maxValueContent)
                fieldCount += 1
                pollFields.appendChild(fieldMax)

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "")
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const createS = () => {
                console.log("CreateS")
                let localCount = globalCount
                let fieldCount = 0
                const idPoll = "s-" + localCount

                {# Poll Wrapper #}
                const newPoll = document.createElement("div")
                polls.appendChild(newPoll)

                {# Fields Container #}
                const pollFields = document.createElement("div")
                newPoll.appendChild(pollFields)

                {# Poll Header #}
                const fieldHeader = createField(idPoll, idPoll, "text", headerDescription, headerDescription)
                pollFields.appendChild(fieldHeader)

                {# Poll Name Field #}
                const idFieldName = idPoll + "-" + fieldCount
                const fieldName = createField(idFieldName, idPoll, "text", nameDescription, nameDescription)
                fieldCount += 1
                pollFields.appendChild(fieldName)

                {# Poll Required Field #}
                const fieldRequiredHidden = createHiddenRequiredField(idPoll)
                pollFields.appendChild(fieldRequiredHidden)

                {# Min Field #}
                const idFieldMin = idPoll + "-" + fieldCount
                const fieldMin = createField(idFieldMin, idPoll, "text", minValueContent, minValueContent)
                fieldCount += 1
                pollFields.appendChild(fieldMin)

                {# Max Field #}
                const idFieldMax = idPoll + "-" + fieldCount
                const fieldMax = createField(idFieldMax, idPoll, "text", maxValueContent, maxValueContent)
                fieldCount += 1
                pollFields.appendChild(fieldMax)

                {# Poll Delete Button #}
                const removePollButton = createButton("button", "X")
                newPoll.prepend(removePollButton)
                removePollButton.addEventListener("click", () => newPoll.remove())

                {# Poll Required Checkbox #}
                const idFieldRequired = idPoll + "-" + fieldCount
                const requiredField = createField(idFieldRequired, "", "checkbox", requiredContent, "")
                requiredField.addEventListener("change", e => {
                    if (e.target.checked)
                        fieldRequiredHidden.valueAsNumber = 1
                    else
                        fieldRequiredHidden.valueAsNumber = 0
                    console.dir(fieldRequiredHidden)
                    console.log(e.target.checked)
                })
                newPoll.appendChild(requiredField)
                fieldCount += 1

                const hr = document.createElement("hr")
                newPoll.appendChild(hr)

                globalCount += 1
            }

            const showDateBtn = document.getElementById("showDateBtn")
            const showCountBtn = document.getElementById("showCountBtn")
            const endConditionForm = document.getElementById("endConditionForm")

            showDateBtn.addEventListener("click", () => {
                showDateBtn.disabled = true
                showCountBtn.disabled = false
                const dateField = createField("end_condition", "end_condition", "date", "Specify the date of completion:", "")
                endConditionForm.removeChild(endConditionForm.lastChild)
                endConditionForm.appendChild(dateField)
                document.getElementById("endConditionForm").appendChild(dateField)
            })

            showCountBtn.addEventListener("click", () => {
                showCountBtn.disabled = true
                showDateBtn.disabled = false
                const countField = createField("end_condition", "end_condition", "number", "Enter the number of people:", "")
                endConditionForm.removeChild(endConditionForm.lastChild)
                endConditionForm.appendChild(countField)
                document.getElementById("endConditionForm").appendChild(countField)
            })

            document.getElementById("create_r").addEventListener('click', createR)
            document.getElementById("create_c").addEventListener('click', createC)
            document.getElementById("create_t").addEventListener('click', createT)
            document.getElementById("create_n").addEventListener('click', createN)
            document.getElementById("create_s").addEventListener('click', createS)

            showDateBtn.click()
        })
    </script>
{% endblock content %}