{% extends "ankiety/base.html" %}
{% block content %}
    <div>
    <a href="{% url 'home' %}">Home</a>
    <form method="GET">
        <label for="search">Type</label>
        <input type="text" name="search" id="search" placeholder="Search...">
        <input type="submit" value="Search">
    </form>
    {% for poll in polls %}
        <a href="{% url 'poll' poll.id_form %}">
            <article>
                <h1>{{ poll.title }}</h1>
                <p>Username</p>
            </article>
        </a>
    {% endfor %}
    </div>
{% endblock content %}
