{% extends "ankiety/base.html" %}
{% block content %}
{{analytics_data|safe}}
    <span>Database test page</span>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="poll_id">
    <button type='submit'>Download xlsx</button>
</form>

{% for s in stat %}
    {% if s.type != 't' %}
            <div style="width:600px; height:300px" id='{{s.name}}'></div>
            <button onclick="drawChartHist({{s.data|safe}},'{{s.title|safe}}', '{{s.name|safe}}')">Chart</button>
            <ul>
                {% for q in s.questions %}
                    <li>{{forloop.counter0}} - {{q}}</li>
                {% endfor %}
            </ul>
            <table>
                <thead>
                {% for key, value in s.measures.items  %}
                    <th>{{key}}</th>
                {% endfor %}
                </thead>
                <tbody>
                <tr>
                 {% for key, value in s.measures.items  %}
                    <td>{{value}}</td>
                 {% endfor %}
                </tr>
                </tbody>
            </table>
    {% endif %}

{% endfor %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
 <script>

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChartHist(dataa, title, div_id) {
        console.log(div_id)
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');

        data.addRows(dataa);

        // Set chart options
        var options = {'title':title,
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById(div_id));
        chart.draw(data, options);
      }

  </script>
{% endblock content %}