{% extends "ankiety/base.html" %}
{% block content %}
{{analytics_data|safe}}
    <span>Database test page</span>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="poll_id">
    <button type='submit'>Download xlsx</button>
</form>
<div style="width:600px; height:300px" id="chart1"></div>

<script src="https://www.gstatic.com/charts/loader.js"></script>
 <script>

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {


        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');

        data.addRows({{data|safe}});

        // Set chart options
        var options = {'title':'{{title|safe}}',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart1'));
        chart.draw(data, options);
      }
  </script>
{% endblock content %}