<h1>Change your password</h1>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div>
        <p>Change your password here<p/>
        <label for="desc1">Enter old password:</labelfor></label>
        <input type="text" id="desc1" name="desc1">
        <label for="desc2">Enter new password:</labelfor></label>
        <input type="text" id="desc2" name="desc3">
        <label for="desc3">Retype new password:</labelfor></label>
        <input type="text" id="desc3" name="desc3">
    </div>
</form>

<a href="{% url 'home' %}">Return to main page</a>